{{> nav/nav-block }}

<div class="container center">
    <div class="row">
        <div class="col s12 m12 l12">
            <h1>This is My Website</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <p>I am becoming a full stack developer for many purposes, however mainly to enjoy another outlet of creativity.  This is one of the few websites thats I am currently working on.  The following buttons are awesome works of my journey's current progress.</p>
        </div>
    </div>

</div>

