{{> nav/nav-block }}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h1 class="home1 center">I am listening.</h1><br>
            <br>
            <p>Thank you for reaching my website.  I am very excited to bring you the latest projects I have been fortunate to work on.  Please enjoy my so far simple webpage as more updates from the studio are on the way.</p>

        </div>
    </div>
</div>