{{> nav/nav-block }}


<div class="container">
    <div class="row">
        <div class="life1 col s12 m12 l12 center">
            <h1>Raleigh, NC; 2019-PRESENT</h1><br>
        </div>
        <div class="life1 col s12 m6 l6">
            <p>Now</p>
        </div>
        
        <div class="life1 col s12 m12 l12 center">
            <h1>Austin, TX; 2015-2019</h1><br>
            <h3>Dun and Bradstreet</h3>
        </div>

        <div class="life1 col s12 m6 l6">
            <p>Something</p>
        </div>

        <div class="life1 col s12 m12 l12 center">
            <h1>Nashville, TN; 2010-2015</h1><br>
            <h3>Belmont University</h3>
        </div>

        <div class="life1 col s12 m9 l9">
            <p>Here</p>
        </div>

        <div class="life1 col s12 m3 l3">
            <h3>Here</h3>
        </div>

        <div class="life1 col s12 m12 l12 center">
            <h1>Oxford, NC; 1991-2010</h1><br>
        </div>

        <div class="life1 col s12 m3 l3">
            <h3>Not a Fan</h3>
        </div>
        
        <div class="life1 col s12 m9 l9">
            <p>Here</p>
        </div>

    </div>
</div>