{{> nav/nav-block }}


<div class="container">
    <div class="row">

        {{!-- Heading --}}

        <div class="life1 col s12 m12 l12 center">
            <h1>This Is My Story</h1>
        </div>

        {{!-- Body 1 --}}

        <div class="life1 col s12 m12 l12 center">
            <h4>Raleigh, NC; 2019-PRESENT</h4><br>
            <h5>Oransi</h5>
        </div>
        <div class="life1 col s12 m6 l6">
            <p>I have the pleasure of working for a great company called Oransi.  I am a Customer Support Representative until I graduate from the UNC </p>
        </div>

        {{!-- Body 2 --}}
        
        <div class="life1 col s12 m12 l12 center">
            <h4>Austin, TX; 2015-2019</h4><br>
            <h5>Dun and Bradstreet</h5>
        </div>

        <div class="life1 col s12 m6 l6">
            <p>Something</p>
        </div>

        {{!-- Body 3 --}}

        <div class="life1 col s12 m12 l12 center">
            <h4>Nashville, TN; 2010-2015</h4><br>
            <h5>Belmont University</h5>
        </div>

        <div class="life1 col s12 m9 l9">
            <p>Here</p>
        </div>

        

        <div class="life1 col s12 m3 l3">
            <h5>Here</h5>
        </div>

        {{!-- Body 4 --}}

        <div class="life1 col s12 m12 l12 center">
            <h4>Oxford, NC; 1991-2010</h4><br>
        </div>

        <div class="life1 col s12 m3 l3">
            <h5>Here</h5>
        </div>
        
        <div class="life1 col s12 m9 l9">
            <p>Here</p>
        </div>

        {{!-- Body 5 --}}

    </div>
</div>