{{> nav/nav-block }}


<div class="container">
    <div class="row">
        <div class="life1 col s12 m12 l12 center">
            <h1>This is My Life</h1><br>
        </div>
        <div class="life1 col s12 m6 l6">
            <p>Now</p>
        </div>
        <div class="life1 col s12 m6 l6">
            
        </div>

        <div class="life1 col s12 m12 l12 center">
            <h1>Oxford, NC; 1991-2010</h1><br>
            <h3>Not a Fan</h3>
        </div>
        
        <div class="life1 col s12 m6 l6">
            <p>My childhood is something I personally do not want to go into a whole lot.  I grew up on a tobacco farm in Oxford, NC.  As the strange kid, I never connected with this time and have nothing personally great to take away from this time.  Learning music at the age of 14 was the most liberating experience of this entire section of my life.  Music was the only outlet I really had to myself and could explore the person that was "me".  I found both jazz and metal before going on the rest of my journey.  These would be the fundamental voices of my future.</p>
        </div>

        <div class="life1 col s12 m12 l12 center">
            <h1>Nashville, TN; 2010-2015</h1><br>
            <h3>Belmont University</h3>
        </div>


        <div class="life1 col s12 m6 l6">
            <p>This was not my favorite time of life.</p>
        </div>

        <div class="life1 col s12 m6 l6">
            
        </div>

        <div class="life1 col s12 m12 l12 center">
            <h1>Austin, TX; 2015-2019</h1><br>
            <h3>Dun and Bradstreet</h3>
        </div>

    </div>
</div>