{{> nav/nav-block }}

<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1089880681&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-234357210" title="Ptocojin Mystikoz" target="_blank" style="color: #cccccc; text-decoration: none;">Ptocojin Mystikoz</a> · <a href="https://soundcloud.com/user-234357210/kringles-demo-18jul21_bus-st" title="Kringles Demo 18Jul21_BUS-St.wav" target="_blank" style="color: #cccccc; text-decoration: none;">Kringles Demo 18Jul21_BUS-St.wav</a></div>

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <h1 class="usher center">Always About the Sound</h1>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col s12 m6 l6 center">
            <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t31.18172-8/19577160_1535582483152389_7951223106683331627_o.jpg?_nc_cat=103&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=1wbSKqj5JOkAX_M_tk4&_nc_ht=scontent-iad3-2.xx&oh=b92fe5e415dfa65125c63841891f64be&oe=611FF348" alt="sox" class="sox" height="70%" width="70%">
        </div>
        <div class="col s12 m6 l6 center" style="font-size: 135%;">
            <h3>In the Name of Metal</h3>
            <p>Metal is the first form of music I really loved.  I remember the raw power of distortion and how I just wanted to hear more harshness in the vocals.  This also felt uniquely mine as many people I was around growing up did not like metal.  But I needed heavier and heavier sounds and metal always seemed to provide.  As a guitarist, it was also always a far away goal to be the the higher level of player in this genre, which felt good to close the gap as I progressed.  The tones are designed to grip you and bring you to the next level of speed and precision until you realize straight chugging is sometimes more fun.</p>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col s12 m6 l6 center">
            <h3>That Smile, Not Smile</h3>
            <p>Back when I thought I was cool. </p>
        </div>
        <div class="col s12 m6 l6 center">
            <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t31.18172-8/22383978_10212518625033954_1491432419664003380_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=tCZngGpWQykAX-NNtTV&_nc_ht=scontent-iad3-2.xx&oh=406582062b67df53572fa0ed7e64a371&oe=611E6B16" alt="bnw" class="bnw">
        </div>
    </div>

    

</div>


